<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">

	<title>smartHydration - Home</title>

	<meta name="description" content="Homepagina">
	<meta name="author" content="Jamie Fong">
	<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
	<link rel="stylesheet" href="../static/css/pagina.css">
</head>

<body>
	<header>
		<nav>
            <a href="{{ url_for("homepagina") }}" id="logo"></a>
			<ul>

				<li><a href="{{ url_for("homepagina") }}" class="current">Home</a></li>
				<li><a href="{{ url_for("gegevens") }}">Overzicht</a></li>
				<li><a href="{{ url_for("profiel") }}">Drinklogboek</a></li>
				<li><a href="{{ url_for("instellingen") }}">Instellingen</a></li>

			</ul>
		</nav>
	</header>

	<section>

        <div class="naast-elkaar">

            <div>
                <img src="../static/images/smartHydration.png" alt="header images" />
            </div>

            <div >
                <h1>Welkom bij smartHydration, {{ voornaam }}!</h1>

                <p>Het is belangrijk om genoeg water te drinken, want vaak drinken we simpelweg niet genoeg vloeistoffen en
                    krijgen we last van uitdroging en dat is niet erg goed voor onze gezondheid. Je droogt uit en hebt minder energie
                    en je voelt je al wat sneller moe. Met smartHydration kan je bijhouden hoeveel water je op een dag drinkt.
                    <div><strong>Hoe werkt het?</strong></div> Door op de knop te drukken zal er een led oplichten of je goed bezig bent of niet.
                    De Raspberry Pi zal weten wanneer er op de knop wordt gedrukt doordat de Pi verbonden is met de Arduino Nano met
                    de bluetoothmodule en zo komt de tijd in de database terecht. smartHydration maakt het makkelijker om er voor te zorgen
                    dat je meer drinkt en je focus verbetert door dehydratatie te verminderen!</p>

            </div>


        </div>



{#		<h1>Buttons</h1>#}
{##}
{#		<a href="#" class="btn red">Red</a>#}
{#		<a href="#fakeLink" class="btn orange">Orange</a>#}
{#		<a href="#fakeLink" class="btn blue circular">Blue</a>#}
{#		<a href="#fakeLink" class="btn teal circular">Teal</a>#}


	</section>

	<footer class="footer-distributed">

			<div class="footer-right">

                <p>New Media & Communication Technology - Howest Kortrijk</p>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="{{ url_for("homepagina") }}">Home</a>
					<a href="{{ url_for("gegevens") }}">Overzicht</a>
					<a href="{{ url_for("profiel") }}">Drinklogboek</a>
					<a href="{{ url_for("instellingen") }}">Instellingen</a>
				</p>

				<p>Jamie Fong &copy; 2017</p>
			</div>

	</footer>

</body>
</html>