<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smartHydration - Instellingen</title>
    <link rel="stylesheet" href="../static/css/pagina.css">
</head>
<body>
    <header>
		<nav>
            <a href="{{ url_for("homepagina") }}" id="logo"></a>
			<ul>

				<li><a href="{{ url_for("homepagina") }}" class="current">Home</a></li>
				<li><a href="{{ url_for("gegevens") }}">Overzicht</a></li>
				<li><a href="{{ url_for("profiel") }}">Drinklogboek</a></li>
				<li><a href="{{ url_for("instellingen") }}">Instellingen</a></li>

			</ul>
		</nav>
	</header>

    <section>

        <h1>Instellingen</h1>

        <form action="" method="POST">
            <div>
            <label for="voornaam">Voornaam</label>
            <input type="text" name="voornaam" id="voornaam" required>
            </div>

            <div>
            <label for="achternaam">Achternaam</label>
            <input type="text" name="achternaam" id="achternaam" required>
            </div>

            <div>
            <label for="geslacht">Geslacht</label>
            <select name="geslacht" id="geslacht" required>
            <option value="0">Man</option>
            <option value="1">Vrouw</option></select>
            </div>

            <div>
            <label for="gewicht">Gewicht (in kg)</label>
            <input type="number" name="gewicht" id="gewicht" required>
            </div>

            <div>
            <label for="grootte">Grootte (in cm)</label>
            <input type="number" name="grootte" id="grootte" required>
            </div>

            <div>
            <label for="activiteit">Activiteit</label>
            <select name="activiteit" id="activiteit" required>
            <option value="1">Weinig</option>
            <option value="2">Gemiddeld</option>
            <option value="3">Veel</option></select>
            </div>

            <input type="submit" value="Opslaan" id="verzendknop" class="btn orange">

        </form>
        

        <div class="buttons-left">

            <div>
		        <a href="{{ url_for("wachtwoordwijzigen") }}" class="btn orange">Wachtwoord wijzigen</a>
            </div>

            <div>
		        <a href="{{ url_for("index") }}" class="btn orange">Afmelden</a>
            </div>

        </div>





    </section>

	<footer class="footer-distributed">

			<div class="footer-right">

                <p>New Media & Communication Technology - Howest Kortrijk</p>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="{{ url_for("homepagina") }}">Home</a>
					<a href="{{ url_for("gegevens") }}">Overzicht</a>
					<a href="{{ url_for("profiel") }}">Drinklogboek</a>
					<a href="{{ url_for("instellingen") }}">Instellingen</a>
				</p>

				<p>Jamie Fong &copy; 2017</p>
			</div>
	</footer>



</body>
</html>