<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smartHydration - Drinklogboek</title>
    <link rel="stylesheet" href="../static/css/pagina.css">
</head>
<body>

	<header>
		<nav>
            <a href="{{ url_for("homepagina") }}" id="logo"></a>
			<ul>

				<li><a href="{{ url_for("homepagina") }}" class="current">Home</a></li>
				<li><a href="{{ url_for("gegevens") }}">Overzicht</a></li>
				<li><a href="{{ url_for("profiel") }}">Drinklogboek</a></li>
				<li><a href="{{ url_for("instellingen") }}">Instellingen</a></li>

			</ul>
		</nav>
	</header>

    <section>

    <h1>Profiel</h1>

    <table>
        <thead>
            <tr>
                <th>Voornaam</th>
                <th>Naam</th>
                <th>Geslacht</th>
                <th>Gewicht (in kg)</th>
                <th>Grootte (in cm)</th>
                <th>Activiteit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for data in gebruiker %}
                    <td>{{ data }}</td>
                {% endfor %}
            </tr>
        </tbody>



    </table>


    <h1>Drinklogboek </h1>
		<table id="drinklogboek-table">
			<thead>
			    <tr>
			      <th>Nummer</th>
			      <th>Tijdstip</th>
			    </tr>
			</thead>
			<tbody>
                {% for meting in metingen %}
			    <tr>
                    <td>{{ meting[0] }}</td>
                    <td>{{ meting[1] }}</td>
			    </tr>
                {% endfor %}
			</tbody>
		</table>
    </section>
	<footer class="footer-distributed">

			<div class="footer-right">

                <p>New Media & Communication Technology - Howest Kortrijk</p>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="{{ url_for("homepagina") }}">Home</a>
					<a href="{{ url_for("gegevens") }}">Overzicht</a>
					<a href="{{ url_for("profiel") }}">Drinklogboek</a>
					<a href="{{ url_for("instellingen") }}">Instellingen</a>
				</p>

				<p>Jamie Fong &copy; 2017</p>
			</div>
	</footer>

</body>
</html>