<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smartHydration - Registreren</title>
    <link rel="stylesheet" href="../static/css/pagina.css">
</head>
<body>

    <header>
		<nav>
            <a href="{{ url_for("homepagina") }}" id="logo"></a>
			<ul>

				<li><a href="{{ url_for("homepagina") }}" class="current">Home</a></li>
				<li><a href="{{ url_for("gegevens") }}">Overzicht</a></li>
				<li><a href="{{ url_for("profiel") }}">Drinklogboek</a></li>
				<li><a href="{{ url_for("instellingen") }}">Instellingen</a></li>

			</ul>
		</nav>
	</header>




    <section>
        <h1>Registreren</h1>

        <form action="">

            <div>
            <label for="gebruikersnaam">Gebruikersnaam</label>
            <input type="text" name="gebruikersnaam" id="gebruikersnaam">
            </div>

            <div>
            <label for="voornaam">Voornaam</label>
            <input type="text" name="voornaam" id="voornaam">
            </div>

            <div>
            <label for="achternaam">Achternaam</label>
            <input type="text" name="achternaam" id="achternaam">
            </div>

            <div>
            <label for="geslacht">Geslacht</label>
            <select name="geslacht" id="geslacht">
            <option value="Man">Man</option>
            <option value="Vrouw">Vrouw</option></select>
            </div>

            <div>
            <label for="gewicht">Gewicht</label>
            <input type="number" name="gewicht" id="gewicht">
            </div>

            <div>
            <label for="grootte">Grootte</label>
            <input type="number" name="grootte" id="grootte">
            </div>

            <div>
            <label for="activiteit">Activiteit</label>
            <select name="activiteit" id="activiteit">
            <option value="Weinig">Weinig</option>
            <option value="Gemiddeld">Gemiddeld</option>
            <option value="Veel">Veel</option></select>
            </div>

            <div>
            <label for="wachtwoord">Wachtwoord</label>
            <input type="password" name="wachtwoord" id="wachtwoord">
            </div>

{#            <div>#}
{#		        <a href="{{ url_for("homepagina") }}" class="btn orange">Registreren</a>#}
{#            </div>#}
            <input type="submit" name="Registreren" value="Registreren" class="btn orange" required>


        </form>


    </section>

	<footer class="footer-distributed">

			<div class="footer-right">

                <p>New Media & Communication Technology - Howest Kortrijk</p>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="{{ url_for("homepagina") }}">Home</a>
					<a href="{{ url_for("gegevens") }}">Overzicht</a>
					<a href="{{ url_for("profiel") }}">Drinklogboek</a>
					<a href="{{ url_for("instellingen") }}">Instellingen</a>
				</p>

				<p>Jamie Fong &copy; 2017</p>
			</div>
	</footer>


</body>
</html>